<div class="about-main">
<<<<<<< HEAD
  <h2>MOZAppとは</h2>
=======
  <h2>MozAppとは</h2>
>>>>>>> origin/master
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="about.jerb.png">
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> origin/master
